<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Grouping suite">
    <test  name="grouping concept">

        <groups>
            <run>
<!--                Only for Sanity-->
<!--                <include name="sanity"/>-->
<!--                <exclude name="regression"/>-->
<!--                Only for Regression-->
<!--                <include name="regression"/>-->
<!--                <exclude name="sanity"/>-->
<!--                Only for Both Sanity and Regression-->
                <include name="functional"/>

            </run>
        </groups>

        <classes>
            <class name="day44.LoginTest"/>

            <class name="day44.SignUpTest"/>

            <class name="day44.PaymentTest"/>


        </classes>
    </test>
</suite>