<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parameterization suite">
    <test  name="Parameterization concept">

        <groups>
            <run>


            </run>
        </groups>

        <classes>
            <class name="day45.DataProvider"/>




        </classes>
    </test>
</suite>