<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="day46.MyListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/prajw/IdeaProjects/SeleniumPrjkt/src/test/java/day46">
        
        <classes>
            <class name="day46.ListenerClassDemo">

            </class>
        </classes>
    </test>
</suite>